In [1]:
import pandas as pd

# Load dataset^
cost_supplement_df = pd.read_csv('./cspuf2021.csv')

In [2]:
# Check for missing values and handle them (e.g., fill with 0 or drop rows if appropriate)
cost_supplement_df.fillna(0, inplace=True)

In [3]:
# Convert relevant columns to numeric types, especially payment columns
payment_columns = [
    'PAMTDU', 'PAMTVU', 'PAMTHU', 'PAMTHH', 'PAMTIP', 'PAMTMP', 'PAMTOP', 
    'PAMTPM', 'PAMTTOT', 'PAMTCARE', 'PAMTCAID', 'PAMTMADV', 'PAMTALPR', 'PAMTOOP'
]
cost_supplement_df[payment_columns] = cost_supplement_df[payment_columns].apply(pd.to_numeric, errors='coerce')

# Drop rows where any critical payment columns are still NaN after conversion
cost_supplement_df.dropna(subset=payment_columns, inplace=True)

In [5]:
# Categorize income levels in 'CSP_INCOME' (1 = "<$25,000", 2 = ">=$25,000")
income_mapping = {1: "<$25,000", 2: ">=$25,000"}
cost_supplement_df['CSP_INCOME'] = cost_supplement_df['CSP_INCOME'].map(income_mapping)

# Select relevant columns for analysis
selected_columns = ['PUF_ID', 'CSP_INCOME', 'PAMTOOP', 'PAMTTOT']
processed_df = cost_supplement_df[selected_columns]

# Save the cleaned and processed data for analysis or visualization
processed_df.to_csv('./processed_mcbs_cost_supplement.csv', index=False)

# Display the first few rows of the processed data
processed_df.head()

     PUF_ID CSP_INCOME   PAMTOOP   PAMTTOT
0  92100016        NaN   1093.18   5809.50
1  92100019        NaN  37203.18  64338.53
2  92100022        NaN    568.44   1273.55
3  92100023        NaN   5680.12  38927.68
4  92100028        NaN   1030.65   7267.93